Repository Proxima-Project/Proxi-BoS-Bay12, pull requests merged in 2022-09, with the labels that each got.

#65 я ебал меня сосали
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

#66 Больше одежды в лодаут и игру в целом
  baystation12.dme
  code/bos/modules/clothing/cowboy_hat_alt.dm
  code/bos/modules/clothing/sombrero.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  icons/bos/mob/onmob/onmob_head.dmi
  icons/bos/obj/clothing/obj_head.dmi
Labels: Sprites

#68 Меняем титры
  code/game/movietitles.dm
  sound/music/bos/he_was_a_good_stalker.ogg
  sound/music/bos/house_of_the_rising_sun.ogg
  sound/music/bos/pulp_fiction.ogg
  sound/music/bos/what_a_wonderful_world.ogg
Labels: Sound

#69 Добавление кваса
  baystation12.dme
  code/bos/modules/reagents/kvasok.dm
  icons/bos/obj/kvasok.dmi
  maps/torch/torch3_deck3.dmm
Labels: Map, Sprites

#71 Реворк инженерных систем Антареса. А так же багфиксы
  code/bos/modules/overmap/contacts/_contact.dm
  code/game/jobs/_access_defs.dm
  code/game/jobs/access.dm
  code/modules/clothing/_clothing.dm
  maps/torch/datums/access.dm
  maps/torch/datums/reports/deck.dm
  maps/torch/items/items.dm
  maps/torch/job/aux_jobs.dm
  maps/torch/job/command_jobs.dm
  maps/torch/job/engineering_jobs.dm
  maps/torch/job/marine_jobs.dm
  maps/torch/job/research_jobs.dm
  maps/torch/job/security_jobs.dm
  maps/torch/job/torch_access.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/structures/closets/misc.dm
  maps/torch/structures/closets/research.dm
  maps/torch/torch.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_areas.dm
  maps/torch/torch_presets.dm
Labels: Map

#70 Снова музычка для титр
  code/game/movietitles.dm
  sound/music/bos/back_in_black.ogg
  sound/music/bos/house_of_the_rising_sun.ogg
Labels: Sound

#74 Clothing electric boogaloo
  baystation12.dme
  code/bos/modules/clothing/cowboy_hat_alt.dm
  code/bos/modules/clothing/kgb_hat.dm
  code/modules/client/preference_setup/loadout/lists/headwear.dm
  icons/bos/mob/onmob/onmob_head.dmi
  icons/bos/obj/clothing/obj_head.dmi
Labels: Sprites

#79 Рай Корп ЧВК (#207) и еще ебанина какая-то
  baystation12.dme
  code/__defines/guns.dm
  code/__defines/mobs.dm
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/species/shell/shell.dm
  code/modules/sprite_accessories/accessory_human.dm
  maps/torch/datums/supplypacks/security.dm
  maps/torch/job/torch_jobs.dm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch_ranks.dm
  proxima/code/game/items/weapons/projectile/infinity-ammuntion.dm
  proxima/code/game/items/weapons/projectile/infinity-guns.dm
  proxima/code/game/items/weapons/projectile/infinity-projectiles.dm
  proxima/code/modules/sprite_accessories/accessory_human.dm
  proxima/icons/mob/onmob/lefthand.dmi
  proxima/icons/mob/onmob/righthand.dmi
  proxima/icons/obj/guns/ammo.dmi
  proxima/icons/obj/guns/guns.dmi
Labels: Map, Sprites
