Repository Proxima-Project/Proxi-BoS-Bay12, pull requests merged in 2022-08, with the labels that each got.

#29 Шмалерго постит недоделанную авейку
  maps/away/ellipse/ellipse.dm
  maps/away/ellipse/ellipse.dmm
  maps/away/ellipse/ellipse_areas.dm
  maps/away/ellipse/ellipse_icons.dmi
  maps/away/ellipse/ellipse_jobs.dm
  maps/away/ellipse/ellipse_shuttle.dm
  maps/torch/torch.dm
Labels: Map, Sprites

#38 Мелкоштуки
  code/modules/aspects/contraband.dm
  maps/away/ellipse/ellipse.dmm
  maps/torch/z1_admin.dmm
Labels: Map

#40 Vox hair
  baystation12.dme
  code/bos/modules/sprite_accessories/_accessory_vox.dm
  code/modules/sprite_accessories/accessory_vox.dm
  icons/bos/mob/human_races/species/vox/hair.dmi
Labels: Sprites

#45 Новые Авей карты.
  maps/away/raidership/raider_vessel.dm
  maps/away/raidership/raider_vessel.dmm
  maps/away/raidership/raider_vessel_areas.dm
  maps/away/raidership/raider_vessel_sprites.dmi
  maps/away/spystation/spy_station.dm
  maps/away/spystation/spy_station.dmm
  maps/away/spystation/spy_station_areas.dm
  maps/away/spystation/spy_station_sprites.dmi
Labels: Map, Sprites

#44 New roles and armor for vox
  baystation12.dme
  code/bos/modules/clothing/vox/vox_head.dm
  code/bos/modules/clothing/vox/vox_rig.dm
  code/bos/modules/clothing/vox/vox_suit.dm
  code/bos/modules/vox/vox_monolith.dm
  icons/bos/mob/onmob/species/vox/onmob_feet_vox.dmi
  icons/bos/mob/onmob/species/vox/onmob_hands_vox.dmi
  icons/bos/mob/onmob/species/vox/onmob_head_vox.dmi
  icons/bos/mob/onmob/species/vox/onmob_rig_back_vox.dmi
  icons/bos/mob/onmob/species/vox/onmob_suit_vox.dmi
  icons/bos/mob/onmob/species/vox/onmob_under_vox.dmi
  icons/bos/obj/clothing/species/vox/obj_feet_vox.dmi
  icons/bos/obj/clothing/species/vox/obj_hands_vox.dmi
  icons/bos/obj/clothing/species/vox/obj_head_vox.dmi
  icons/bos/obj/clothing/species/vox/obj_rig_vox.dmi
  icons/bos/obj/clothing/species/vox/obj_suit_vox.dmi
  icons/bos/obj/clothing/species/vox/obj_unoform_vox.dmi
  icons/bos/obj/vox_monolith.dmi
  icons/mob/onmob/onmob_rig_back.dmi
  icons/obj/clothing/obj_under.dmi
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Map, Sprites

#52 Vox coiscin custom
  customs/code/coiscin.dm
  customs/config/coiscin-coat.json
  customs/config/coiscin-katana.json
  customs/config/coiscin-kimono.json
  customs/icons/obj/custom_items_obj.dmi
  customs/icons/obj/custom_items_obj_inv_accessory.dmi
Labels: Sprites

#53 Пиратская станция, фикс других моих авеек.
  maps/away/piratestation/pirate_station.dm
  maps/away/piratestation/pirate_station.dmm
  maps/away/piratestation/pirate_station_areas.dm
  maps/away/piratestation/pirate_station_sprites.dmi
  maps/away/raidership/raider_vessel.dmm
  maps/away/spystation/spy_station.dmm
Labels: Map, Sprites

#58 New map vox
  baystation12.dme
  code/bos/modules/clothing/vox/vox_suit.dm
  code/bos/modules/clothing/vox/vox_uniform.dm
  code/bos/modules/culture_descriptor/culture/cultures_vox.dm
  code/bos/modules/culture_descriptor/faction/factions_vox.dm
  code/bos/modules/culture_descriptor/location/locations_vox.dm
  code/bos/modules/culture_descriptor/religion/religions_vox.dm
  code/bos/modules/vox/vox_monolith.dm
  code/modules/client/preference_setup/loadout/lists/xenowear.dm
  code/modules/client/preference_setup/loadout/lists/xenowear_boh.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/vox.dm
  icons/bos/mob/onmob/species/vox/onmob_head_vox.dmi
  icons/bos/mob/onmob/species/vox/onmob_suit_vox.dmi
  icons/bos/mob/onmob/species/vox/onmob_under_vox.dmi
  icons/bos/obj/clothing/species/vox/obj_suit_vox.dmi
  icons/bos/obj/clothing/species/vox/obj_uniform_vox.dmi
  icons/bos/obj/vox_altar.dmi
  icons/bos/obj/vox_monolith.dmi
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
  maps/away/voxship/voxship.dm
  maps/away/voxship/voxship_jobs.dm
Labels: Map, Sprites

#59 Шмалерго снова за старое
  baystation12.dme
  code/bos/datums/uplink/device and tools.dm
  code/bos/datums/uplink/implants.dm
  code/bos/datums/uplink/stealth_and_camouflage_items.dm
  code/bos/game/objects/items/devices/syndietele.dm
  code/bos/game/objects/items/weapons/implants/implants/emp.dm
  code/bos/game/objects/items/weapons/implants/implants/fake_death.dm
  code/bos/game/objects/items/weapons/storage/uplink_kits.dm
  code/bos/game/objects/items/weapons/uplink/explosive.dm
  code/bos/game/objects/items/weapons/uplink/radanalyzer.dm
  code/datums/uplink/stealth_and_camouflage_items.dm
  icons/bos/effects/red_teleport.dmi
  icons/bos/obj/uplink/door_charge.dmi
  icons/bos/obj/uplink/syndiejaunter.dmi
Labels: Sprites

#35 Feature shield-like armor
  baystation12.dme
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/bos/modules/clothing/shieldarmor.dm
  code/modules/fov/fov.dm
  code/modules/mob/mob_defines.dm
  icons/bos/mob/shieldgui.dmi
  icons/bos/obj/armor_battery.dmi
  icons/bos/obj/armorshield.dmi
  maps/torch/torch2_deck4.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
  sound/items/shieldbatteryend.ogg
  sound/items/shieldbroken.ogg
Labels: Map, Sprites, Sound

#63 Vox map fix
  maps/away/voxship/voxship-1.dmm
  maps/away/voxship/voxship-2.dmm
Labels: Map

#64 Ура ура пельмени
  baystation12.dme
  code/bos/modules/food/recipes_microwave.dm
  code/bos/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  icons/bos/obj/food.dmi
Labels: Sprites
