Repository Proxima-Project/Proxi-BoS-Bay12, pull requests merged in 2022-12, with the labels that each got.

#122 JUST FUCKING AMAZING LOADOUT, BRATAN!!!
  code/bos/modules/clothing/cowboy_boots.dm
  code/bos/modules/clothing/suit.dm
  code/bos/modules/clothing/uniform.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/lists/footwear.dm
  code/modules/client/preference_setup/loadout/lists/gloves.dm
  code/modules/client/preference_setup/loadout/lists/suits.dm
  code/modules/client/preference_setup/loadout/lists/uniforms.dm
  icons/bos/mob/onmob/onmob_feet.dmi
  icons/bos/mob/onmob/onmob_suit.dmi
  icons/bos/obj/clothing/obj_feet.dmi
  icons/bos/obj/clothing/obj_suit.dmi
  icons/bos/obj/clothing/obj_under.dmi
  icons/mob/onmob/onmob_accessories.dmi
  icons/mob/onmob/onmob_under.dmi
  icons/obj/clothing/obj_accessories.dmi
Labels: Sprites

#87 Купили лорнет
  baystation12.dme
  code/bos/game/objects/noose.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/NTNet/NTNet_relay.dm
  code/modules/modular_computers/file_system/programs/antagonist/access_decrypter.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/generic/game.dm
  code/modules/modular_computers/file_system/programs/generic/news.dm
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/file_system/programs/generic/wordprocessor.dm
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
  code/modules/modular_computers/file_system/programs/research/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
  code/modules/modular_computers/file_system/programs/security/forceauthorization.dm
  code/modules/modular_computers/hardware/network_card.dm
  icons/bos/obj/noose.dmi
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_pda.dmi
  icons/obj/modular_tablet.dmi
  icons/obj/modular_telescreen.dmi
  nano/images/uiBackground.png
  nano/images/uiBasicBackground.png
  nano/images/uiTitleFluff-Syndicate.png
  nano/images/uiTitleFluff.png
  sound/effects/bos/noose_idle.ogg
  sound/effects/bos/noosed.ogg
Labels: Sprites, Sound

#124 Йокарный бабай
  baystation12.dme
  code/bos/datums/contract.dm
  code/bos/datums/music_tracks/bos_music_tracks.dm
  code/bos/datums/uplink/contractor_devices.dm
  code/bos/datums/uplink/device and tools.dm
  code/bos/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/bos/datums/uplink/implants.dm
  code/bos/datums/uplink/uplink_categories.dm
  code/bos/game/objects/items/devices/spy_sensor.dm
  code/bos/game/objects/items/devices/syndietele.dm
  code/bos/game/objects/items/devices/virus_sampler.dm
  code/bos/game/objects/items/weapons/implants/implants/spying.dm
  code/bos/game/objects/items/weapons/storage/snb.dm
  code/bos/game/objects/items/weapons/storage/uplink_kits.dm
  code/bos/game/objects/items/weapons/uplink/explosive.dm
  code/bos/game/objects/items/weapons/uplink/radanalyzer.dm
  code/bos/game/objects/noose.dm
  code/bos/modules/events/psi_wave.dm
  code/bos/modules/events/totalitaria.dm
  code/bos/modules/food/recipes_microwave.dm
  code/controllers/subsystems/ticker.dm
  code/datums/audio/jukebox.dm
  code/datums/movement/mob.dm
  code/datums/uplink/uplink_items.dm
  code/game/gamemodes/mixed/jackpot.dm
  code/game/gamemodes/mixed/lizard.dm
  code/game/gamemodes/mixed/spatial.dm
  code/game/gamemodes/mixed/traizard.dm
  code/game/gamemodes/mixed/trinja.dm
  code/game/objects/items/devices/uplink.dm
  code/game/turfs/turf.dm
  code/game/world.dm
  code/modules/boh_misc/firearms.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/inventory.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/generic/configurator.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/generic/file_browser.dm
  code/modules/modular_computers/file_system/programs/research/email_administration.dm
  code/modules/modular_computers/ntos/ui.dm
  code/modules/nano/modules/nano_module.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/research/designs/designs_circuits.dm
  maps/torch/infantry/storage.dm
  nano/templates/computer_fabricator.tmpl
  nano/templates/email_administration.tmpl
  nano/templates/laptop_configuration.tmpl
  nano/templates/ntnet_monitor.tmpl
  nano/templates/uplink.tmpl
  proxima/icons/obj/guns/projectiles.dmi
  sound/music/bos/pskovskiymarch.ogg
Labels: Sprites, Sound

#125 Новогодний ивент
  baystation12.dme
  code/bos/game/machinery/christmas.dm
  code/bos/modules/clothing/hat.dm
  code/bos/modules/clothing/suit.dm
  code/bos/modules/mob/cat.dm
  icons/bos/mob/cat.dmi
  icons/bos/mob/onmob/onmob_head.dmi
  icons/bos/mob/onmob/onmob_suit.dmi
  icons/bos/obj/christmas.dmi
  icons/bos/obj/clothing/obj_head.dmi
  icons/bos/obj/clothing/obj_suit.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Sprites
