Repository Proxima-Project/Proxi-BoS-Bay12, pull requests merged in 2023-03, with the labels that each got.

#152 иди нахуй
  code/bos/modules/culture_descriptor/faction/factions_human.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_objects.dm
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/castelnau.dm
  maps/castelnau/castelnau_areas.dm
  maps/castelnau/castelnau_define.dm
  maps/castelnau/castelnau_overrides.dm
  maps/castelnau/castelnau_shuttles.dm
  maps/castelnau/castelnau_unit_testing.dm
  maps/castelnau/items/headsets.dm
  maps/castelnau/job/jobs_security.dm
  maps/castelnau/loadout/factions/military.dm
  maps/castelnau/loadout/factions/syndi.dm
  maps/castelnau/outfits/command/reg.dm
  maps/castelnau/outfits/med/reg.dm
  maps/castelnau/outfits/misc/misc.dm
  maps/castelnau/structures/closets/engineering.dm
  maps/castelnau/structures/closets/medical.dm
  maps/castelnau/structures/closets/security.dm
Labels: Map

#154 Нанофиксы
  code/bos/game/turfs/flooring/inaks_decals.dm
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  icons/bos/turf/inaks_decals.dmi
  maps/away/cadaab/cadaab.dmm
  maps/castelnau/castelnau-3.dmm
Labels: Map, Sprites

#155 Коисцин держит меня в спрайтовом рабстве
  code/bos/game/turfs/flooring/inaks_decals.dm
  icons/bos/turf/inaks_decals.dmi
  icons/bos/turf/inaks_turfs.dmi
  maps/away/cadaab/cadaab.dmm
  maps/castelnau/castelnau_overrides.dm
  maps/castelnau/icons/ark/obj/structures.dmi
  maps/castelnau/structures/fake_stairs.dm
Labels: Map, Sprites

#156 Воксята чинят судно... Стоп, что блять?
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/castelnau_areas.dm
  maps/castelnau/job/access.dm
  maps/castelnau/job/jobs_engineering.dm
  maps/castelnau/job/jobs_security.dm
  maps/torch/torch4_deck2.dmm
Labels: Map

#157 Я уверен что это полная хуйня, но я перебрал проводку
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/castelnau_areas.dm
Labels: Map

#158 Крик пустыни
  baystation12.dme
  code/bos/datums/footsteps.dm
  code/bos/game/objects/items/devices/spy_sensor.dm
  code/bos/game/objects/items/weapons/storage/mgsbox.dm
  code/bos/game/turfs/simulated/inaks_turfs.dm
  code/modules/mob/living/carbon/human/life.dm
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_areas.dm
  maps/away/cadaab/cadaab_objects.dm
  maps/castelnau/loadout/loadout_utility.dm
  sound/ambience/bos/cave1.ogg
  sound/ambience/bos/cave2.ogg
  sound/ambience/bos/cave3.ogg
  sound/ambience/bos/cave4.ogg
  sound/ambience/bos/cave5.ogg
  sound/ambience/bos/cave6.ogg
  sound/ambience/bos/cave7.ogg
  sound/ambience/bos/cave8.ogg
  sound/ambience/bos/desert_music1.ogg
  sound/effects/bos/footstep/asphalt1.ogg
  sound/effects/bos/footstep/asphalt2.ogg
  sound/effects/bos/footstep/asphalt3.ogg
  sound/effects/bos/footstep/asphalt4.ogg
  sound/effects/bos/footstep/concrete1.ogg
  sound/effects/bos/footstep/concrete2.ogg
  sound/effects/bos/footstep/concrete3.ogg
Labels: Map, Sound

#159 Фикс небольших проебов доступа и чу-чуть камер.
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/job/jobs_merchants.dm
  maps/castelnau/job/jobs_security.dm
Labels: Map

#162 Страдания
  code/bos/game/turfs/flooring/inaks_decals.dm
  code/modules/aspects/traps.dm
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_jobs.dm
  maps/castelnau/castelnau-3.dmm
Labels: Map

#163 Никто не любит мапмержы
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
Labels: Map

#164 Микро пак фиксов
  baystation12.dme
  code/bos/game/objects/items/weapons/mine.dm
  code/game/movietitles.dm
  maps/away/cadaab/cadaab.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/items/cards_ids.dm
  proxima/code/game/items/weapons/storage/supply_boxes.dm
  proxima/icons/obj/supply_boxes.dmi
Labels: Map, Sprites

#165 Чиним бастион словян
  code/bos/game/objects/items/weapons/mine.dm
  code/bos/game/objects/items/weapons/storage/snb.dm
  code/game/movietitles.dm
  code/modules/aspects/contraband.dm
  code/modules/aspects/traps.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/organs/internal/species/nabber.dm
  maps/away/cadaab/cadaab.dmm
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/castelnau_overrides.dm
  maps/torch/torch.dm
  maps/torch/torch_areas.dm
  proxima/code/game/items/weapons/storage/supply_boxes.dm
Labels: Map

#166 Переименовываем штуки, кодим одежду и постеры
  baystation12.dme
  code/bos/game/objects/effects/decals/contraband.dm
  code/bos/game/objects/effects/decals/posters/posters.dm
  code/bos/modules/clothing/armor/scavenger_voidsuit.dm
  code/bos/modules/clothing/armor/skafandr.dm
  code/bos/modules/clothing/armor/tachanka.dm
  code/bos/modules/clothing/hats/hat.dm
  code/bos/modules/clothing/suit/cyberpunk_overcoat.dm
  code/bos/modules/clothing/suit/suit.dm
  code/bos/modules/events/psi_wave.dm
  code/modules/clothing/spacesuits/void/merc.dm
  icons/bos/effects/posters.dmi
  icons/bos/mob/onmob/onmob_head.dmi
  icons/bos/mob/onmob/onmob_suit.dmi
  icons/bos/obj/clothing/obj_head.dmi
  icons/bos/obj/clothing/obj_suit.dmi
  maps/away/cadaab/cadaab.dm
  maps/castelnau/castelnau_ranks.dm
  maps/castelnau/outfits/misc/misc.dm
Labels: Sprites

#167 The sand is coming
  code/game/objects/items/weapons/storage/fancy.dm
  icons/bos/mob/screen_full.dmi
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_areas.dm
  maps/away/cadaab/cadaab_noise.dm
  maps/away/cadaab/cadaab_objects.dm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau.dm
  maps/castelnau/castelnau_announcements.dm
  maps/castelnau/castelnau_overrides.dm
  maps/castelnau/code/modules/sandstorm.dm
  proxima/code/game/items/weapons/storage/supply_boxes.dm
  sound/ambience/bos/super_sandstorm.ogg
  sound/ambience/bos/super_sandstorm_indoor.ogg
  sound/effects/bos/fence_door.ogg
  sound/effects/bos/lighting.ogg
  sound/effects/bos/sandstorm_coming.ogg
Labels: Map, Sprites, Sound
