Repository Proxima-Project/Proxi-BoS-Bay12, pull requests merged in 2023-01, with the labels that each got.

#127 Игрушки игрушечные
  baystation12.dme
  code/bos/game/objects/items/toys.dm
  icons/bos/obj/toy.dmi
  sound/voice/bos/boris_balls.ogg
  sound/voice/bos/boris_slacker.ogg
Labels: Sprites, Sound

#126 Подметаем за Коисцином
  code/bos/modules/clothing/hands.dm
  icons/bos/mob/onmob/species/vox/onmob_head_vox.dmi
  icons/bos/obj/clothing/obj_hand.dmi
  icons/bos/obj/clothing/obj_hands.dmi
  icons/bos/obj/obj_hands.dmi
Labels: Sprites

#129 Emoji
  code/modules/emoji/emoji_parse.dm
  icons/emoji.dmi
Labels: Sprites

#130 Снейк? СНЕЙК?! СНЕЕЕЕЙК!!!!!
  baystation12.dme
  code/bos/datums/uplink/contractor_devices.dm
  code/bos/game/objects/items/weapons/storage/mgsbox.dm
  code/bos/game/objects/random/random.dm
  code/bos/modules/materials/material_recipes.dm
  code/bos/modules/materials/recipes_items.dm
  icons/bos/obj/box.dmi
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch4_deck2.dmm
  maps/torch/torch5_deck1.dmm
  maps/torch/torch6_bridge.dmm
Labels: Map, Sprites

#131 Коробки не аеродинамичные
  code/bos/game/objects/items/weapons/storage/mgsbox.dm
  code/game/objects/items/devices/chameleonproj.dm
  maps/torch/torch1_deck5.dmm
  maps/torch/torch2_deck4.dmm
  maps/torch/torch3_deck3.dmm
  maps/torch/torch5_deck1.dmm
Labels: Map

#132 Микро штуки
  baystation12.dme
  code/bos/game/objects/items/weapons/storage/mgsbox.dm
  code/bos/modules/modular_computers/file_system/programs/generic/sudoku.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/cash.dm
  icons/obj/modular_console.dmi
  icons/obj/modular_laptop.dmi
  icons/obj/modular_pda.dmi
  icons/obj/modular_tablet.dmi
  nano/images/uiTitleFluff-Syndicate.png
  nano/templates/email_client.tmpl
  nano/templates/sudoku.tmpl
  sound/effects/bos/magic_light.ogg
Labels: Sprites, Sound
