Repository Proxima-Project/Proxi-BoS-Bay12, pull requests merged in 2023-02, with the labels that each got.

#141 Soldier gaming
  baystation12.dme
  code/bos/modules/projectiles/projectile/special.dm
  code/modules/boh_misc/munitions.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  icons/boh/obj/guns/launchers64.dmi
  icons/mob/onmob/items/lefthand_guns.dmi
  icons/mob/onmob/items/righthand_guns.dmi
  icons/mob/onmob/onmob_back.dmi
Labels: Sprites

#142 Ивент(взрывной)
  baystation12.dme
  code/bos/game/objects/structures/ruins.dm
  code/bos/game/turfs/flooring/inaks_decals.dm
  code/bos/game/turfs/unsimulated/inaks_turfs.dm
  icons/bos/turf/inaks_decals.dmi
  icons/bos/turf/inaks_turfs.dmi
  maps/torch/torch.dm
  maps/torch/voronezh/voronezh.dmm
  maps/torch/voronezh/voronezh_areas.dm
  maps/torch/voronezh/voronezh_icons.dmi
  sound/ambience/bos/warambient1.ogg
  sound/ambience/bos/warambient2.ogg
  sound/ambience/bos/warambient3.ogg
  sound/ambience/bos/warambient4.ogg
Labels: Map, Sprites, Sound

#143 Ивент(красивый)
  maps/torch/voronezh/voronezh.dmm
Labels: Map

#144 Ивент(красивее не куда)
  baystation12.dme
  code/bos/game/objects/structures/inaks_decorations.dm
  code/bos/game/turfs/unsimulated/inaks_turfs.dm
  icons/bos/obj/inaks_decorations.dmi
  maps/torch/voronezh/voronezh.dmm
Labels: Map, Sprites

#145 Ride a bike
  code/modules/mechs/mech.dm
  code/modules/mechs/premade/_premade.dm
  customs/code/coiscin.dm
  customs/icons/mob/custom_items_mob.dmi
  customs/icons/mob/mech_bike_coiscin_custom.dmi
  customs/icons/obj/custom_items_obj.dmi
  customs/sound/bike_MO_engine.ogg
  customs/sound/bike_SH_engine.ogg
  customs/sound/bike_ST_engine.ogg
  customs/sound/bike_TU_engine.ogg
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_weapon_overlays.dmi
Labels: Sprites, Sound

#149 Фиксо правки
  code/bos/datums/contract.dm
  code/bos/game/objects/items/weapons/storage/mgsbox.dm
  code/bos/game/objects/random/random.dm
  code/bos/game/turfs/flooring/inaks_decals.dm
  code/bos/game/turfs/unsimulated/inaks_turfs.dm
  code/datums/trading/unique.dm
  code/datums/trading/weaponry.dm
  code/modules/item_worth/worths_list.dm
  icons/bos/turf/inaks_decals.dmi
  maps/away/cadaab/cadaab.dmm
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/castelnau_define.dm
  maps/castelnau/code/gamemodes/objectives.dm
  maps/castelnau/loadout/loadout_utility.dm
Labels: Map, Sprites
