Repository Proxima-Project/Proxi-BoS-Bay12, pull requests merged in 2023-07, with the labels that each got.

#193 Кастомки, кастомки...
  baystation12.dme
  customs/code/timlv.dm
  customs/code/vlades.dm
  customs/config/timlv/timlv-helmet.json
  customs/config/timlv/timlv-under.json
  customs/icons/mob/custom_items_mob.dmi
  customs/icons/obj/custom_items_obj.dmi
Labels: Sprites

#191 Колерго парт оф апдейт
  code/bos/game/gamemodes/mini_roles/mini_roles.dm
  code/bos/modules/overmap/exoplanets/planet_types/desert.dm
  code/datums/trading/misc.dm
  code/datums/trading/ship.dm
  code/datums/trading/unique.dm
  code/datums/trading/weaponry.dm
  code/game/antagonist/station/mini_roles.dm
  code/game/objects/effects/effect_system.dm
  code/modules/aspects/traps.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mechs/premade/_premade.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/mob_defines.dm
  maps/away/cadaab/icons/turfs.dmi
  maps/away/ellipse/ellipse_areas.dm
  maps/away/ellipse/ellipse_shuttle.dm
  maps/away/piratestation/pirate_station_areas.dm
  maps/away/raidership/raider_vessel_areas.dm
  maps/away/solship/solship.dm
  maps/away/solship/solship.dmm
  maps/away/solship/solship_areas.dm
  maps/away/solship/solship_crew.dm
  maps/away/solship/solship_items.dm
  maps/away/solship/solship_ranks.dm
  maps/away/solship/solship_shuttle.dm
  maps/away/solship/solship_uniforms.dm
  maps/away/spystation/spy_station_areas.dm
  maps/castelnau/bos/structures/lordbanner.dm
  maps/castelnau/castelnau.dm
  maps/castelnau/castelnau_ranks.dm
  maps/castelnau/castelnau_security_state.dm
  maps/castelnau/code/modules/aspects/night.dm
  maps/castelnau/code/modules/sandstorm.dm
Labels: Map, Sprites

#199 Адаптация шторма
  code/bos/modules/mob/cat.dm
  code/bos/modules/overmap/disperser/disperser_charge.dm
  maps/away/cadaab/icons/turfs.dmi
  maps/castelnau/code/modules/sandstorm.dm
Labels: Sprites

#200 Боже, как же хочется жрать иногда
  code/bos/datums/contract.dm
  code/datums/outfits/horror_killers.dm
  code/datums/trading/trade.dm
  code/game/antagonist/station/mini_roles.dm
  code/game/machinery/vending.dm
  code/game/objects/items/glassjar.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/economy/ATM.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/cash.dm
  code/modules/item_worth/value_procs.dm
  code/modules/item_worth/worths_list.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/projectiles/guns/launcher/money_cannon.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/spells/racial_wizard.dm
  maps/antag_spawn/wizard/wizard_base.dmm
  maps/away/bearcat/bearcat-2.dmm
  maps/away/cadaab/cadaab-old.dmm
  maps/away/cadaab/cadaab.dmm
  maps/away/smugglers/smugglers.dmm
  maps/away/voxship/voxship-2.dmm
  maps/castelnau/cadaab/castelnau-2-cadaab.dmm
  maps/castelnau/techbarb-event/event.dmm
  maps/castelnau/z1-admin.dmm
  maps/random_ruins/exoplanet_ruins/armsfactory/armsfactory.dmm
  maps/random_ruins/exoplanet_ruins/hydrobase/hydrobase.dmm
  maps/random_ruins/exoplanet_ruins/playablecolony/colony.dmm
  maps/torch/voronezh/voronezh.dmm
  maps/torch/z1_admin.dmm
Labels: Map

#202 сигареты и голопад
  baystation12.dme
  code/_helpers/icons.dm
  code/bos/game/objects/items/devices/holopad_hand.dm
  code/bos/game/objects/items/weapons/storage/cigarettes.dm
  code/bos/modules/clothing/mask/smokable.dm
  code/bos/modules/reagents/tobacco.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  icons/bos/obj/cigarettes.dmi
  icons/bos/obj/holopad.dmi
  icons/bos/obj/holopda.dmi
Labels: Sprites

#203 Последний пулл реквест БоСа(я надеюсь)
  baystation12.dme
  code/bos/modules/guns/ks_23m.dm
  code/bos/modules/overmap/disperser/disperser_charge.dm
  code/bos/modules/overmap/disperser/disperser_fire.dm
  code/bos/modules/projectiles/ammunition/bullets.dm
  code/bos/modules/projectiles/projectile/bullets.dm
  code/game/antagonist/station/mini_roles.dm
  code/modules/emotes/definitions/visible.dm
  code/modules/mob/living/carbon/human/human_interactions.dm
  code/modules/mob/living/carbon/human/interactions.dm
  icons/bos/obj/guns/ks_23m.dmi
  maps/castelnau/mjolnir/mjolnir_surface.dmm
Labels: Map, Sprites
