Repository Proxima-Project/Proxi-BoS-Bay12, pull requests merged in 2023-04, with the labels that each got.

#170 ало это фиксики? почините кастельнау
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/job/access.dm
Labels: Map

#172 Рандомная угроза наносит удар
  code/bos/datums/contract.dm
  code/bos/game/objects/random/random.dm
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_areas.dm
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/code/modules/sandstorm.dm
  proxima/icons/obj/supply_boxes.dmi
Labels: Map, Sprites

#173 Не смешной пул реквест
  code/bos/game/objects/items/weapons/mine.dm
  code/bos/game/objects/random/random.dm
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_noise.dm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/castelnau_presets.dm
  maps/castelnau/code/modules/sandstorm.dm
Labels: Map

#174 Много фиксов кастельнау.
  code/game/machinery/telecomms/presets.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/structures/coathanger.dm
  code/modules/admin/map_capture.dm
  maps/away/cadaab/cadaab.dm
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_radio.dm
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/castelnau.dm
  maps/castelnau/items/papers.dm
  maps/castelnau/job/access.dm
  maps/castelnau/job/jobs_command.dm
  maps/castelnau/job/jobs_engineering.dm
  maps/castelnau/structures/closets/command.dm
  maps/castelnau/structures/closets/engineering.dm
  maps/castelnau/structures/closets/security.dm
Labels: Map

#175 я могу видеть солнце!!
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau_areas.dm
  maps/castelnau/items/papers.dm
Labels: Map

#176 Фикс мин и карты
  code/bos/game/objects/items/weapons/mine.dm
  code/bos/game/objects/random/random.dm
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_noise.dm
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/code/modules/sandstorm.dm
Labels: Map

#177 Фиксы Кастельнау(опять).
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau_overrides.dm
  maps/castelnau/castelnau_presets.dm
Labels: Map

#178 Окей, я что-то сломал.
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
Labels: Map

#179 Мешки с песком и фиксы багов ФОВа
  baystation12.dme
  code/__defines/__renderer.dm
  code/__defines/_renderer.dm
  code/bos/datums/footsteps.dm
  code/bos/game/objects/items/weapons/storage/mgsbox.dm
  code/bos/game/objects/structures/barrier.dm
  code/bos/game/objects/structures/inaks_decorations.dm
  code/bos/modules/clothing/under/accessories/helmcover.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/world.dm
  code/modules/aspects/bluespace.dm
  code/modules/mechs/mech.dm
  code/modules/overmap/exoplanets/planet_types/desert.dm
  code/modules/species/species.dm
  code/modules/species/station/nabber.dm
  icons/bos/mob/onmob/onmob_modular_armor.dmi
  icons/bos/obj/barrier.dmi
  icons/bos/obj/clothing/obj_suit_modular_armor.dmi
  icons/bos/obj/items.dmi
  icons/bos/obj/sand_bags.dmi
  maps/away/cadaab/cadaab.dmm
  maps/away/cadaab/cadaab_objects.dm
  maps/away/cadaab/cadaab_turfs.dm
  maps/castelnau/castelnau-1.dmm
  maps/castelnau/castelnau-2.dmm
  maps/castelnau/castelnau-3.dmm
  maps/castelnau/castelnau_define.dm
  maps/castelnau/structures/flora.dm
  sound/effects/bos/footstep/grass1.ogg
  sound/effects/bos/footstep/grass2.ogg
  sound/effects/bos/footstep/grass3.ogg
  sound/effects/bos/footstep/grass4.ogg
  sound/effects/bos/sandbags_filling.ogg
  sound/effects/bos/sandbags_hit.ogg
Labels: Map, Sprites, Sound

#180 Фикс Боба
  maps/castelnau/castelnau-3.dmm
Labels: Map

#181 Хотфикс мешков
  code/bos/game/objects/structures/barrier.dm
  maps/away/cadaab/cadaab_turfs.dm
  maps/castelnau/castelnau-1.dmm
Labels: Map

#182 Event
  code/bos/game/objects/structures/barrier.dm
  maps/away/cadaab/cadaab_turfs.dm
  maps/castelnau/techbarb-event/event.dmm
Labels: Map
